@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al local de comidas al paso</h1>
    
</div>
<body>
    <div class="background">
        <div class="container">
            <div class="text-center align-bottom">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <h1 id="grande">Comida al paso</h1>
                
            </div>
        </div>
    </div>
</body>
